[submodule "python_programming/hobby"]
	path = python_programming/hobby
	url = git@github.com:VincentKleis/hobby.git
[submodule "python_programming/DATA110"]
	path = python_programming/DATA110
	url = git@github.com:VincentKleis/DATA110.git
[submodule "python_programming/INFO284"]
	path = python_programming/INFO284
	url = git@github.com:VincentKleis/INFO284.git
[submodule "python_programming/INFO104"]
	path = python_programming/INFO104
	url = git@github.com:VincentKleis/INFO104.git
[submodule "python_programming/INFO215"]
	path = python_programming/INFO215
	url = git@github.com:VincentKleis/INFO215.git
[submodule "python_programming/INFO216"]
	path = python_programming/INFO216
	url = git@github.com:VincentKleis/INFO216.git
[submodule "python_programming/INFO212"]
	path = python_programming/INFO212
	url = git@github.com:VincentKleis/INFO212.git
[submodule "python_programming/INFO180"]
	path = python_programming/INFO180
	url = git@github.com:VincentKleis/INFO180.git
[submodule "python_programming/INFO135"]
	path = python_programming/INFO135
	url = git@github.com:VincentKleis/INFO135.git
