<html>
<head>
<style>
table, th, td {
    border: solid;
    border-collapse: collapse;
}
</style>
</head>
<body>

<h1>Book Store</h1>

<table style="width:100%">
    <tr>
        <th>book title</th>
        <th>book author</th>
        <th>publishing date</th>
        <th>price</th>
    </tr>
    {% for title in book_title %}
    <!--
    {% for author in book_author %}
    {% for pub_date in book_pub_date %}
    {% for price in book_price %}
    -->
    <tr>
        <td>{{title}}</td>
        <!--
        <td>{{author}}</td>
        <td>{{pub_date}}</td>
        <td>{{price}}</td>
        -->
    </tr>
    {%endfor%}
    <!--
    {%endfor%}
    {%endfor%}
    {%endfor%}
    -->
</table>

</body>
</html>